<head>
    <h1>{{pageTitle}}</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
    <!--<p><a href="/maintenance">Maintenance</a></p>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>This is Some Website</title>-->
</head>